<form method="post" enctype="multipart/form-data" action="/Upload/" onsubmit="AJAXSubmit(this); return false;">
	<div class="form-group">
		<div class="col-md-10">
			<h3>Upload Case File</h3>
			<input type="file" name="file"  />
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-10">
			<input id="sbtn" class="btn btn-success" type="submit" value="Upload" />
		</div>
	</div>
</form>
<div>
	<form method="post" enctype="multipart/form-data" action="/Upload/UploadTask" onsubmit="AJAXSubmit(this); return false;">
		<div class="form-group">
			<div class="col-md-10">
				<h3>Upload Task File</h3>
				<input type="file" name="file" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-10">
				<input id="sbtn" class="btn btn-success" type="submit" value="Upload" />
			</div>
		</div>
	</form>
</div>
<div id="result"></div>
<script>
	async function AJAXSubmit(oFormElement) {
		var resultElement = document.getElementById("result");
		document.getElementById("sbtn").disabled = true;
		resultElement.innerHTML = 'Uploading.....';
	const formData = new FormData(oFormElement);

	try {
	const response = await fetch(oFormElement.action, {
			method: 'POST',
	  body: formData
	});

		if (response.ok) {
			//	window.location.href = '/Upload/Excel';
			console.log(response);
			resultElement.innerHTML=@TempData["UploadMsg"];
		} else {
			resultElement.innerHTML = 'Issue in uploading this file.';
			document.getElementById("sbtn").disabled = false;

		}

		
	} catch (error) {
		console.error('Error:', error);
		resultElement.innerHTML = 'Error Occured. Please try again.';
		document.getElementById("sbtn").disabled = false;

	}
  }

       
</script>