<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]  AMS Defect Backlog</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
	<link rel="stylesheet" href="~/css/appHome.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" href="~/css/site.css" />
	<style>
		body {
			font-family: 'Roboto', sans-serif;
		}
		.menu-active{
			border-bottom:3px solid orange;
			color:green !important;
		}
		
	</style>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="">
				<a class="navbar-brand text-center font-weight-bolder" asp-area="" asp-controller="Home" asp-action="Index">AMS Defect Backlog</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li id="home" class="nav-item">
						<a class="nav-link" asp-controller="Home" asp-action="">Home</a>
					</li>
					<li id="swarmed" class="nav-item">
						<a class="nav-link" asp-controller="Home" asp-action="Swarmed">Swarmed</a>
					</li>
					<li id="fastTrack" class="nav-item">
						<a class="nav-link" asp-controller="Home" asp-action="FastTrack">Fast Track</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container-fluid">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer class="border-top footer text-muted">
	</footer>
	<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="~/js/JavaScript.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script>

		(function (factory) {
			if (typeof define === "function" && define.amd) {
				define(["jquery", "moment", "datatables.net"], factory);
			} else {
				factory(jQuery, moment);
			}
		}(function ($, moment) {

			function strip(d) {
				if (typeof d === 'string') {
					// Strip HTML tags and newline characters if possible
					d = d.replace(/(<.*?>)|(\r?\n|\r)/g, '');

					// Strip out surrounding white space
					d = d.trim();
				}

				return d;
			}

			$.fn.dataTable.moment = function (format, locale, reverseEmpties) {
				var types = $.fn.dataTable.ext.type;

				// Add type detection
				types.detect.unshift(function (d) {
					d = strip(d);

					// Null and empty values are acceptable
					if (d === '' || d === null) {
						return 'moment-' + format;
					}

					return moment(d, format, locale, true).isValid() ?
						'moment-' + format :
						null;
				});

				// Add sorting method - use an integer for the sorting
				types.order['moment-' + format + '-pre'] = function (d) {
					d = strip(d);

					return !moment(d, format, locale, true).isValid() ?
						(reverseEmpties ? -Infinity : Infinity) :
						parseInt(moment(d, format, locale, true).format('x'), 10);
				};
			};

		}));
		var loc = window.location.href.toString();
		if (loc.includes("/Swarmed")) {
			var menu = document.getElementById("swarmed");
			menu.classList.add("menu-active");
		}
		else if (loc.includes("/FastTrack")) {
			var menu = document.getElementById("fastTrack");
			menu.classList.add("menu-active");
		} else {
			var menu = document.getElementById("home");
			menu.classList.add("menu-active");
		}
	</script>
	@RenderSection("Scripts", required: false)
</body>
</html>
